{% extends 'base.html'%}
{% block content %}
<h2>contact page</h2>
<div class="mapouter"><div class="gmap_canvas"><iframe width="712" height="388" id="gmap_canvas" src="https://maps.google.com/maps?q=lisa%20hospital&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net/blog/divi-discount-code-elegant-themes-coupon/"></a><br><style>.mapouter{position:relative;text-align:right;height:388px;width:712px;}</style><a href="https://www.embedgooglemap.net">embed google maps in gmail</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:388px;width:712px;}</style></div></div>
<div>
    <h3>address</h3>
    <p>
        calicut town</p>
    <p>info@cityhospital.com</p>
    <h3>telephones</h3>
    <p><i class="bi bi-telephone-outbound-fill"></i>18001075644</p>




{% endblock %}